* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body {
  font: 1.0em/1.6 'Inconsolata', monospace;
  color:  #c9cdc0;
  font-weight: 400;
  background-color: rgb(26, 26, 26);
  text-shadow: red;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top:2.5vh; */
  margin-bottom:2.5vh;
}

#zoommap{
  position: fixed;
  width: 68%;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top:2.5vh; */
  top: 10px;
  margin-bottom:2.5vh;
  visibility: hidden; 
  /* height: 60vh; */
}

.zoom{
  position: fixed;
  width: auto;
  width: 68%;
  height: 100vh;
  /* border: 2px solid #c9cdc0; */
  border-radius: 2px;
  /* margin-right:3px; */
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
  background-color:black;
  left: 10px;
  border: 2px solid black;
  border-radius:1px;
  padding: 5px;
  margin-bottom:6px;
 
}

#svg1{
   width: 50%;
}

.zoom>img{
  height: calc(100vh - 60px);
  width: auto;
}

#dreammap>img{
  height: calc(100vh - 60px);
  width: auto;
}
   
#gateway-distance{
  font: 1.2em/1.6 'Inconsolata', monospace;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 40%;
  height: 100vh;
  /* border: 2px solid #c9cdc0; */
  border-radius: 2px;
  /* margin-right:3px; */
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
  background-color:rgb(26, 26, 26);

}

.flex-right {
  width: 60%;
  height: 100vh;
  /* border: 5px solid #c9cdc0; */
  border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
  padding-top: 10px;
  background-color:rgb(26, 26, 26);
}

.section{
  border: 2px solid black;
  border-radius:1px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom:6px;
  color: white;
  background-color: black;
}

#scene1{
  visibility: hidden;
}

#input{
  background-color: #c9cdc0;
  border: 2px solid black;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button{
  background-color: yellow;
  color:black;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#log{
  /* visibility: hidden; */
  background-color: #55554a;
  color: black;
}

#back{
  visibility: hidden;
}

#log1{
  visibility: hidden;
}
#log2{
  visibility: hidden;
}
#log3{
  visibility: hidden;
}
#log4{
  visibility: hidden;
}
#log5{
  visibility: hidden;
}